[Unit]
Description=External ETCD for Kubernetes
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/etcd \
  --name={{ inventory_hostname }} \
  --data-dir={{ etcd_data_dir }} \
  --listen-client-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379 \
  --listen-peer-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2380 \
  --initial-advertise-peer-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2380 \
  --cert-file={{ etcd_cert_dir }}/etcd/server.crt \
  --key-file={{ etcd_cert_dir }}/etcd/server.key \
  --trusted-ca-file={{ etcd_cert_dir }}/etcd/ca.crt \
  --client-cert-auth=true \
  --peer-cert-file={{ etcd_cert_dir }}/etcd/peer.crt \
  --peer-key-file={{ etcd_cert_dir }}/etcd/peer.key \
  --peer-trusted-ca-file={{ etcd_cert_dir }}/etcd/ca.crt \
  --peer-client-cert-auth=true \
  --initial-cluster={% for host in groups['admin_control_planes'] %}{{ host }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-token=k8s-etcd-cluster-token \
  --initial-cluster-state=new
#  --quota-backend-bytes=8589934592 \
#  --auto-compaction-retention=1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

