[defaults]
#inventory = ./inventory
#remote_user = gaia_bot
remote_user = gaia_test
ask_pass = false  ## PW(true) or Key(false)
inject_facts_as_vars = false
gathering = smart
fact_caching = jsonfile
fact_caching_connection = facts
roles_path = ./roles

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
